apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: {{PVC_NAME}}
  namespace: {{NAMESPACE}}
  labels:
    app: {{PVC_NAME}}
    managed-by: jenkins
spec:
  accessModes:
    - {{ACCESS_MODE}}
  storageClassName: {{STORAGE_CLASS}}
  resources:
    requests:
      storage: {{STORAGE}}